#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/<user>/tools/sts-4.13.0.RELEASE/SpringToolSuite4
Name=STS
Comment=STS
Icon=/home/<user>/tools/sts-4.13.0.RELEASE/icon.xpm