#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/<user>/tools/sts-<version>.RELEASE/SpringToolSuite4
Name=STS
Comment=STS
Icon=/home/<user>/tools/sts-<version>.RELEASE/icon.xpm
